/* .container2{
    width: 100%;
    height: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    padding-top: 3%;
    background-attachment: fixed;


}
img{
    width: 100%;
} */


.containerMenu{
    margin: 100px;
    background-color: lightpink;
    padding: 20px;
}